@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&family=Quattrocento:wght@400;700&display=swap");

:root {
  --primary-font: "Quattrocento", serif;
  --primary-color: #f2e9cc;
  --secondary-color: #1c1c1c;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* GENERAL UX */

.wrapper {
  background-color: var(--primary-color);
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 1600px;
}

.container-grid {
  display: grid;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
  max-width: 1600px;
}

.box {
  flex: 1;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  line-height: 2rem;
}

.section-heading {
  text-align: center;
  font-size: 2.2rem;
  width: fit-content;
  font-family: var(--primary-font);
  margin: 3rem 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

.section-text {
  font-size: large;
}

/* HEADER */

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: floralwhite;
  align-items: center;
  padding: 1rem 3rem;
  gap: 0.5rem;
  font-family: var(--primary-font);
  font-size: large;
}

#logo {
  font-size: xx-large;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-item a {
  font-weight: bold;
  font-size: larger;
  min-height: 48px;
  min-width: 48px;
  padding: 0.25rem;
}

.nav-item a:hover {
  border-bottom: 1px solid floralwhite;
}

/* HERO SECTION */

#hero {
  height: 600px;
  position: relative;
  font-family: var(--primary-font);
}

.hero-background {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.hero-text {
  font-size: 4rem;
  color: white;
  flex: 2;
}

.hero-image {
  border-radius: 25px;
  flex: 1;
  aspect-ratio: 1/1;
  border: 2px solid gold;
  background-size: 100%;
  animation: pan-image 30s linear infinite;
  background-size: cover;
  background: url("../images/12olympians.webp");
}

/* HISTORY */

#history {
  scroll-margin-top: 4rem;
}

.quote {
  font-weight: bolder;
  font-style: italic;
  color: darkblue;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: none;
}

.map-container {
  width: 100%;
  max-width: 500px;
}

#map {
  aspect-ratio: 1/1;
  width: 100%;
  align-self: center;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.map-container figcaption {
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  background-color: white;
  padding: 0.5rem;
  font-family: var(--primary-font);
}

/* GODS INTRO */

#gods {
  flex-direction: column;
  scroll-margin-top: 4rem;
}

#aphrodite {
  scroll-margin-top: 4rem;
}
#apollo {
  scroll-margin-top: 4rem;
}
#ares {
  scroll-margin-top: 4rem;
}
#artemis {
  scroll-margin-top: 4rem;
}
#athena {
  scroll-margin-top: 4rem;
}
#dionysus {
  scroll-margin-top: 4rem;
}
#hades {
  scroll-margin-top: 4rem;
}
#hephaestus {
  scroll-margin-top: 4rem;
}
#hera {
  scroll-margin-top: 4rem;
}
#hermes {
  scroll-margin-top: 4rem;
}
#posedion {
  scroll-margin-top: 4rem;
}
#zeus {
  scroll-margin-top: 4rem;
}

.gods-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: var(--primary-font);
  scroll-margin-top: 4rem;
}

.god-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: rgb(200, 200, 200);
  overflow: hidden;
  position: relative;
  width: 175px;
  transition: all 300ms;
}

.god-card:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: all 300ms;
}

.god-card:focus {
  transform: scale(1.02);
  transition: all 300ms;
}

.god-overlay {
  display: flex;
  transition: all 300ms;
  opacity: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.god-card:hover .god-overlay {
  opacity: 1;
}

.god-card:focus .god-overlay {
  opacity: 1;
}

.god-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.god-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.god-card h3 {
  padding: 10px;
  color: black;
}

/* GODS INFO */

.god-information {
  border: 1px solid rgb(225, 225, 225);
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.god-header-container {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  font-family: var(--primary-font);
}

.god-header {
  flex: 1;
  margin-bottom: 10px;
  text-align: left;
}

.god-header h3 {
  font-size: xx-large;
}

.god-header h4 {
  font-size: large;
  margin-top: 10px;
  border-bottom: 2px solid darkgrey;
}

.god-header-container i {
  font-size: 40px;
  margin-left: 1rem;
}

.god-description {
  font-size: large;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}

/* CONTACT */

#contact {
  background-size: cover;
  min-height: 100vh;
  position: relative;
  scroll-margin-top: 4rem;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.article-wrapper h3 {
  font-size: x-large;
}
.article-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.article {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  width: 250px;
  border: 1px solid var(--secondary-color);
}

.article h4 {
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: large;
  border-bottom: 1px solid var(--secondary-color);
}

.article p {
  margin: 0.5rem;
  font-size: medium;
}

.article-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-bottom: 1px solid var(--secondary-color);
  object-fit: cover;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dac6b7;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #dac6b7 74%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-color);
  gap: 1rem;
  font-size: larger;
}

.form-heading {
  text-align: center;
  font-size: 2.2rem;
  font-family: var(--primary-font);
  margin: 1rem 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

.details-input {
  width: 100%;
  height: 40px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: large;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 1rem;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.form-btn {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  color: floralwhite;
  font-size: larger;
  border: 1px solid var(--primary-color);
  width: fit-content;
}

.form-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transform: scale(0.95);
  transition: all 150ms;
}

.form-btn:focus {
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* FOOTER */

#footer {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--secondary-color);
  color: floralwhite;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-inline: 4rem;
}

.center-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.footer-header {
  font-size: xx-large;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials i {
  font-size: 2rem;
}

.socials a:hover,
.socials a:focus {
  transform: scale(1.3) translateY(-10px);
  transition: all 200ms;
  filter: brightness(1.4);
  cursor: pointer;
}

.socials a:nth-child(1) {
  color: orange;
}
.socials a:nth-child(2) {
  color: blue;
}
.socials a:nth-child(3) {
  color: lightskyblue;
}
.socials a:nth-child(4) {
  color: palevioletred;
}

.contact-details {
  line-height: 1.6rem;
  font-size: larger;
}

.contact-details a {
  text-decoration: underline;
}

.contact-details a:hover,
a:focus {
  text-decoration: underline;
  color: blue;
}

/* SUCCESS PAGE / 404 PAGE*/

#maillist {
  min-height: 100vh;
}

#error {
  min-height: 100vh;
}

.page-image {
  width: 100%;
  border-radius: 10px;
  max-width: 400px;
}

.page-header {
  font-size: 3rem;
  line-height: 3rem;
}

.page-sub-header {
  font-size: xx-large;
}

.page-text {
  font-weight: 300;
}

/* ANIMATIONS */

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 150%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 150%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 200%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 200%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 10% 5%;
    background-size: 250%;
  }

  80% {
    background-position: 25% 15%;
    background-size: 250%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 50% 10%;
    background-size: 200%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 200%;
  }
}

/* MEDIA_QUERIES */

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .wrapper {
    text-align: center;
  }

  .container {
    flex-direction: column;
    height: 100%;
  }

  .hero-text {
    flex: 0;
    font-size: 3rem;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 1rem;
  }

  .article {
    width: 100%;
    max-width: 400px;
  }

  .container-grid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #header {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0.25rem;
  }

  #footer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .god-card {
    width: 100%;
  }

  .section-text {
    font-size: medium;
  }

  .god-description {
    font-size: medium;
  }

  .hero-image {
    display: none;
  }
}
